.center {
    margin: auto;
    width: 60%;
    border: 3px ;
    padding: 10px;
  }

  body, html {
    height: 100%;
  }
  .bg {
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg");
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  